Project3/Project3Task1Client/xml-resources/web-service-references/TemperatureService/wsdl/localhost_8080/Project3Task1Server/TemperatureService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://jzhan1.edu.cmu.andrew/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jzhan1.edu.cmu.andrew/">

<xs:element name="getLastTemperature" type="tns:getLastTemperature"/>

<xs:element name="getLastTemperatureResponse" type="tns:getLastTemperatureResponse"/>

<xs:element name="getTemperatures" type="tns:getTemperatures"/>

<xs:element name="getTemperaturesResponse" type="tns:getTemperaturesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="highTemperature" type="tns:highTemperature"/>

<xs:element name="highTemperatureResponse" type="tns:highTemperatureResponse"/>

<xs:element name="lowTemperature" type="tns:lowTemperature"/>

<xs:element name="lowTemperatureResponse" type="tns:lowTemperatureResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lowTemperature">
<xs:sequence>
<xs:element name="sensorID" type="xs:string" minOccurs="0"/>
<xs:element name="timeStamp" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="temperature" type="xs:string" minOccurs="0"/>
<xs:element name="signature" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lowTemperatureResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemperatures">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTemperaturesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="highTemperature">
<xs:sequence>
<xs:element name="sensorID" type="xs:string" minOccurs="0"/>
<xs:element name="timeStamp" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="temperature" type="xs:string" minOccurs="0"/>
<xs:element name="signature" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="highTemperatureResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastTemperature">
<xs:sequence>
<xs:element name="sensorID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastTemperatureResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>