Project3/Project3Task2Client/xml-resources/web-service-references/TemeratureService/wsdl/localhost_8080/Project3Task2Server/TemeratureService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.temp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.temp/" name="TemeratureService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.temp/" schemaLocation="http://localhost:8080/Project3Task2Server/TemeratureService?xsd=1"/>
</xsd:schema>
</types>
<message name="highTemperature">
<part name="parameters" element="tns:highTemperature"/>
</message>
<message name="highTemperatureResponse">
<part name="parameters" element="tns:highTemperatureResponse"/>
</message>
<message name="lowTemperature">
<part name="parameters" element="tns:lowTemperature"/>
</message>
<message name="lowTemperatureResponse">
<part name="parameters" element="tns:lowTemperatureResponse"/>
</message>
<message name="getTemperatures">
<part name="parameters" element="tns:getTemperatures"/>
</message>
<message name="getTemperaturesResponse">
<part name="parameters" element="tns:getTemperaturesResponse"/>
</message>
<message name="getLastTemperature">
<part name="parameters" element="tns:getLastTemperature"/>
</message>
<message name="getLastTemperatureResponse">
<part name="parameters" element="tns:getLastTemperatureResponse"/>
</message>
<message name="parseXML">
<part name="parameters" element="tns:parseXML"/>
</message>
<message name="parseXMLResponse">
<part name="parameters" element="tns:parseXMLResponse"/>
</message>
<portType name="TemeratureService2">
<operation name="highTemperature">
<input wsam:Action="http://service.temp/TemeratureService2/highTemperatureRequest" message="tns:highTemperature"/>
<output wsam:Action="http://service.temp/TemeratureService2/highTemperatureResponse" message="tns:highTemperatureResponse"/>
</operation>
<operation name="lowTemperature">
<input wsam:Action="http://service.temp/TemeratureService2/lowTemperatureRequest" message="tns:lowTemperature"/>
<output wsam:Action="http://service.temp/TemeratureService2/lowTemperatureResponse" message="tns:lowTemperatureResponse"/>
</operation>
<operation name="getTemperatures">
<input wsam:Action="http://service.temp/TemeratureService2/getTemperaturesRequest" message="tns:getTemperatures"/>
<output wsam:Action="http://service.temp/TemeratureService2/getTemperaturesResponse" message="tns:getTemperaturesResponse"/>
</operation>
<operation name="getLastTemperature">
<input wsam:Action="http://service.temp/TemeratureService2/getLastTemperatureRequest" message="tns:getLastTemperature"/>
<output wsam:Action="http://service.temp/TemeratureService2/getLastTemperatureResponse" message="tns:getLastTemperatureResponse"/>
</operation>
<operation name="parseXML">
<input wsam:Action="http://service.temp/TemeratureService2/parseXMLRequest" message="tns:parseXML"/>
<output wsam:Action="http://service.temp/TemeratureService2/parseXMLResponse" message="tns:parseXMLResponse"/>
</operation>
</portType>
<binding name="TemeratureService2PortBinding" type="tns:TemeratureService2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="highTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lowTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTemperatures">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastTemperature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="parseXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TemeratureService">
<port name="TemeratureService2Port" binding="tns:TemeratureService2PortBinding">
<soap:address location="http://localhost:8080/Project3Task2Server/TemeratureService"/>
</port>
</service>
</definitions>